<style>
#taxonomies {
    display: inline-flex;
    width: 100%;
    height: 50px;
}

.taxonomy-root {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Oswald';
    line-height: 38px;
    margin: auto;
}


</style>
<div id="spree-header" style="background:none !important;" >
  <header id="header" style="background:#1e231b;" data-hook >
    <div class="container">
      <div class="row">
<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
        <figure id="logo" class="col-md-4 col-sm-1" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
	
      </div>
    </div>
  </header>
  
</div>

<style>

</style>

